<footer id="footer">
  <div>
    <img class="footerimage" src="../../../assets/images/footer_b2b.jpg">
  </div>
  <div class="container-fluid footer">
    <div class="row mb-3">
      <div class="px-5 mx-5 col footer-content">
        <h2 class="h2-footer">Over ons</h2>
        <div>
          <p>
            Boer naar Burger biedt een platform waarop producten aangeboden worden, die in de huidige maatschappij verloren gaan.
            Door deze producten te verhandelen helpen wij boeren van hun overproductie af, en ondersteunen wij onze medemens in moeilijkere tijden.
            Daarnaast bieden wij consumenten, producten met een verhaal; (h)eerlijk en betrouwbaar.
          </p>
          <div>
            <a href="https://facebook.com/" target="_blank"><span class="a-footer a-icons p-2 fab fa-facebook-f"></span></a>
            <a href="https://instagram.com" target="_blank"><span class="a-footer a-icons p-2 fab fa-instagram"></span></a>
            <a href="https://twitter.com" target="_blank"><span class="a-footer a-icons p-2 fab fa-twitter"></span></a>
            <a href="https://linkedin.com" target="_blank"><span class="a-footer a-icons p-2 fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>
      <div class="px-5 mx-5 col footer-content larger-font">
        <img src="../../../assets/images/logo_bnb_navbar.png" width=100%>
        <div>
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Burgerkinglaan 232, Breda</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+31 (0)76 - 123 456 78</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="mail"><a href="mailto:info@boernaarburger.ml" class="a-footer">info@boernaarburger.ml</a></span>
          </div>
        </div>
      </div>
      <div class="px-5 pt-3 mx-5 col footer-content">
        <div>
          <h2 class="h2-footer">Service</h2>
          <li><a href="#" class="a-footer">Sitemap</a> </li>
          <li><a href="#" class="a-footer">Veelgestelde vragen</a></li>
          <li><a href="#" class="a-footer">Contact</a></li>
          <br/>
          <button type="button" class="btn btn-pink">
            Meld je aan als klant!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">© 2020 Copyright: groep 4A - Deeltijdopleiding Informatica aan Avans Hogeschool Breda</div>
</footer>
