<header>
  <nav class="p-0 navbar navigation-bar navbar-expand-md navbar-light shadow-sm">
    <div class="container">
      <a class="navbar-brand p-0" href="/">
        <div><img src="../../../assets/images/logo_bnb_navbar.png" class="navlogo" alt="bnb logo"></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="pl-5 ml-5 navbar-nav">
          <li class="mr-5 pr-3 nav-item nav-text">
            <a class="nav-link nav-text" href="/">HOME</a>
          </li>
          <li class="mr-5 pr-3 nav-item nav-text">
            <a class="nav-link nav-text" href="#">WIE ZIJN WIJ</a>
          </li>
          <li class="mr-5 pr-3 nav-item nav-text">
            <a class="nav-link nav-text" href="#">CONTACT</a>
          </li>
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">

          <li class="nav-item nav-text-login nav-text dropdown">
            <a id="navbarDropdown" class="nav-text-login nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </a>

            <div class="dropdown-menu dropdown-right dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item dropdown-right-item" href="#"></a>

              <a class="dropdown-item dropdown-right-item" href="#"></a>

              <form id="logout-form" action="" method="POST" class="d-none"></form>
              <a class="dropdown-item dropdown-right-item" href="#">Uitloggen</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
