<div class="content-wrap">
  <app-header></app-header>
  <div class="container">
    <span class="big-circle"></span>
    <img src="../../../assets/images/shape.png" class="square" alt="">
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Contact is zo gelegd</h3>
        <p class="text">
          Uw persoonsgegevens worden alleen gebruikt waarvoor u ze hebt achtergelaten.
        </p>

        <div class="info">
          <div class="information">
            <img src="../../../assets/images/location.png" class="icon" alt="">
            <p>Burgerkinglaan 232, Breda</p>
          </div>

          <div class="information">
            <img src="../../../assets/images/email.png" class="icon" alt="">
            <a href="mailto:info@boernaarburger.ml">info@boernaarburger.ml</a>

          </div>

          <div class="information">
            <img src="../../../assets/images/phone.png" class="icon" alt="">
            <p>076 123 45 678</p>
          </div>
        </div>

        <div class="social-media">
          <p>Connect met ons</p>
          <div class="social-icons">
            <a href="https://www.facebook.com">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>

        <form action="#">
          <h3 class="title">Contact ons</h3>
          <div class="input-container">
            <input type="text" name="name" class="input">
            <label>Naam</label>
            <span>Naam</span>
          </div>

          <div class="input-container">
            <input type="email" name="email" class="input">
            <label>Email</label>
            <span>Email</span>
          </div>

          <div class="input-container">
            <input type="tel" name="phone" class="input">
            <label>Telefoonnummer</label>
            <span>Telefoonnummer</span>
          </div>

          <div class="input-container textarea">
            <textarea name="message" class="input"></textarea>
            <label>Bericht</label>
            <span>Bericht</span>
          </div>
          <input type="submit" value="Verzenden" class="btn">
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
