<div class="content-wrap">
  <app-header></app-header>
  <div class="container pt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row account-profile-card">
          <div class="col-4 text-center pt-4 green-background">
            <div>
              <img src="../../../../assets/images/logo_bnb.png" alt="Profile Picture" class="w-75"/>
              <h3 class="white-text p-3">Welkom bij Boer naar Burger</h3>
            </div>
          </div>
          <div class="col pr-2">
            <h2 class="pt-4 pl-4 data-headers">Reset Wachtwoord</h2>
            <hr class="mx-2">
            <form #resetPasswordForm=ngForm (ngSubmit)="resetPassword()">

             <!-- <div class="alert alert-danger" [hidden]="!error">{{ error }}</div> -->

              <!-- E-mail -->
              <div class="form-group row mx-1">
                <div class="col">
                  <p>Wachtwoord vergeten? Vul hieronder je e-mail adres in en we sturen een e-mail om het wachtwoord te resetten.</p>
                  <label for="email" class="pl-2 user-data-header">E-mailadres</label>
                  <input id="email" type="email" class="form-control rounded-borders" name="email" placeholder="email@voorbeeld.nl" required autocomplete="email"
                         [(ngModel)]="form.email">
                  <div class="text-danger font-weight-bold mt-1" [hidden]="!error['email']">{{ error["email"] }}</div>
                  <div class="message-success font-weight-bold mt-1" [hidden]="!success">{{ success["message"] }}</div>
                  <div class="mt-1" [hidden]="!loading">E-mail wordt verzonden...</div>
                </div>
              </div>

              <!-- Reset Password Button -->
              <div class="form-group row mb-3 justify-content-between">
                <div class="ml-3 pl-3">
                  <button type="submit" class="btn btn-green px-5" [disabled]="!resetPasswordForm.valid">Stuur E-mail</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
