<app-header></app-header>
<div class="container">
  <div class="welcome-images">
    <img class="logoBnB" src="../../../assets/images/logo_bnb_liggend_color.png" alt="logoBnB">
  </div>

  <div class="row">
    <div class="col-6">
      <h1 id="rh-column-links-header">Welkom bij Boer naar Burger</h1>
      <p class="rh-column-links-tekst">
        Wij bieden gezond en kwalitatief voedsel voor een (h)eerlijke prijs. Dagvers, rechtstreeks van het land!
        <br><br>
        Tonnen aan vers en heerlijk voedsel worden dagelijks weggegooid;
        groenten en fruit die net niet mooi genoeg zijn of overproductie die de boer niet kwijt kan bij de supermarkten.
        Wij zeggen: eeuwig zonde! Juist deze producten geven wij een bestemming, want ze zijn immers net zo vers en smakelijk. <br><br>
        Sluit je aan bij ons initiatief en bespaar tientallen euro's per maand, en
        <strong>maak een vuist tegen voedselverspilling!</strong>
      </p>
    </div>
    <div class="col-6">

    </div>
  </div>

  <div class="welcome-images mt-3">
    <img src="../../../assets/images/graan.png" class="rh-scaleImage mr-1" alt="Graan">
    <img src="../../../assets/images/koe.png" class="rh-scaleImage mr-1" alt="Koe">
    <img src="../../../assets/images/sla.png" class="rh-scaleImage" alt="Sla">
  </div>
</div>
<app-footer></app-footer>
