.welcome-images {
  text-align: center;
}

.rh-scaleImage {
  width: 33%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.logoBnB {
  width: 65%;
}

#rh-column-links-header {
  color: rgb(217, 99, 89);
  text-align: left;
  font-weight: 1000;
}

#rh-column-rechts-header {
  color: rgb(217, 99, 89);
  text-align: center;
  font-weight: 1000;
}

.rh-column-links-tekst {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  text-align: justify;
}
