@charset "UTF-8";

.lightblue-background {
  background-color: #C2F5EB;
}

@import '~bootstrap/dist/css/bootstrap.css';

@import url(https://fonts.googleapis.com/css?family=Nunito);

.ng-invalid:not(form) {
  border: 1px solid red;
}

.ng-valid:not(form) {
  border: 1px solid green;
}

.btn-green {
  color: whitesmoke;
  background-color: #005622;
  border-color: #005622;
  border-radius: 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-green:hover {
  background-color: #00471c;
  border-color: #00471c;
  border-radius: 12px;
  color: whitesmoke;
}

.btn-green:focus,
.btn-green.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(53, 135, 86, 0.25);
  color: whitesmoke;
}

.account-profile-card {
  background-color: whitesmoke;
  border-radius: 12px;
  border: solid 3px #005622;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white-text {
  color: whitesmoke;
}

.green-background {
  background-color: #005622;
}

.data-headers {
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.user-data-header {
  color: #353c4e;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.user-data {
  color: #5c5e61;
}

.rounded-borders {
  border-radius: 12px;
}


.smaller-field {
  width: 50%
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 425px;
}

.navigation-bar {
  background-color: #005622;
}

.nav-text {
  color: #F0FFF9;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
  color: #F0FFF9;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-text-login {
  color: #F0FFF9 !important;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size: 1.1em;
}

.nav-text:hover {
  color: #E38F88 !important;
  font-weight: bold;
}

.nav-item a:hover {
  color: #E38F88 !important;
}

.nav-active {
  color: #E38F88 !important;
  font-weight: bold;
}
